{% extends 'base.html' %}

{% block content %}
<h1>General router parameters</h1>
<script src="{{ url_for('static', filename='jquery-3.7.0.slim.min.js') }}"></script>
<span>
    <script>
        $(document).ready(function() {
            setInterval(function() {
                updateStatus();
            }, 5000);  // Refresh every 5 seconds
        });

        function updateStatus() {
            let response = fetch("/internet-status")
                .then(e => e.text())
                .then(text => {
                    document.getElementById('status').innerText = text;
                })
        }
    </script>
        <h3>Internet access</h3>
        <p>Status: <span id="status"></span></p>
</span>
<span>
    <h3>Private WLAN</h3>
</span>
<span>
    <h3>Public WLAN</h3>
</span>
<span>
    <h3>VPN information</h3>
</span>
{% endblock %}