{% extends 'base.html' %}

{% block content %}
  <h1>Private Network parameters</h1>
  <form method="post" enctype="multipart/form-data" action="">
    {{ form.csrf_token }}
    <p>
      {{ form.ssid.label }}<br>
      {{ form.ssid(size=40) }}<br>
      {% for error in form.ssid.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
    </p>
    <p>
      {{ form.key.label }}<br>
      {{ form.key(size=40) }}<br>
      {% for error in form.key.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
    </p>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
{% endblock %}